 *{
box-sizing: border-box;
border: solid red 8px;
max-width: 960px;

}

body{
    background-color: #ffffff;

}

header{
    background-color: #ffffff;
    border-bottom: solid #cccccc 3px;
    overflow: auto;
    margin: 0;

}

#bio-image{
    float: left;
    transform: rotate(-90deg)

}

h1{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    float: left;
    background-color:#4aaaa5;
    padding:20px 15px;

}

.links{
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: right;
    padding: 20px;


}

p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 2em;

}